.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 991px) {
    height: auto;
    aspect-ratio: 375 / 315;
  }
  &-box {
    height: 100%;
    .img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .video {
      overflow: hidden;
      height: 100%;
      background-position: center;
      background-size: 120% 120%;
      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1.2);
        @media (max-width: 991px) {
          transform: translate(-50%, -50%) scale(1.5);
        }
      }
    }
  }
  &-content {
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 2;
    max-width: 400px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 16px;
    .title {
      margin-bottom: 10px;
    }

    a.global-button {
      background-color: var(--color-secondary);
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.2;
      color: var(--color-primary);
      margin-top: 18px;
    }
  }
  .swiper-pagination {
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: max-content;
    left: 50%;
    bottom: 10px;
    height: 26px;
    padding: 0 12px;
    border-radius: 13px;
    transform: translateX(-50%);

    &-bullet {
      background-color: var(--color-white);
    }
  }
}
