#header {
  --color-default: var(--color-secondary);
  .header {
    &-container {
      grid-template-columns: 1fr auto 1fr;
      gap: var(--space-40);
      padding: 10px 60px;
      border-bottom: 1px solid var(--color-secondary);
    }
    &-menu {
      ul {
        display: flex;
        align-items: center;
        gap: var(--space-24);
        li {
          a {
            color: var(--color-default);
          }
        }
      }
    }
  }
}
