#header {
  --color-default: var(--color-secondary);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  .header {
    &-logo {
      img {
        height: 40px;
        width: auto;
      }
    }
    &-container {
      grid-template-columns: 1fr auto 1fr;
      gap: var(--space-40);
      padding: 10px 60px;
      border-bottom: 1px solid var(--color-secondary);
    }
    &-menu {
      ul {
        display: flex;
        align-items: center;
        gap: var(--space-24);
        li {
          a {
            color: var(--color-default);
          }
        }
      }
    }
    &-group {
      gap: var(--space-16);
    }
    &-lang {
      .dropdown-custom {
        position: relative;
      }
      .dropdown-custom-menu {
        position: absolute;
        top: 100%;
        left: -8px;
        background-color: var(--color-primary);
        width: calc(100% + 8px);
        margin-top: 21.5px;
        padding: 8px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        &.dropdown--active {
          opacity: 1;
          visibility: visible;
        }
      }
      .dropdown-custom-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        .icon {
          svg {
            color: var(--color-secondary);
          }
        }
      }
      .value-select,
      .dropdown-custom-item {
        font-size: 15px;
        color: var(--color-secondary);
        text-transform: uppercase;
      }
    }
  }
}
