.hospitality {
  &-inner {
    padding: var(--spacing-padding);
  }
  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  &-logo {
    img {
      transform: scale(1);
    }
  }
  &-col {
    display: flex;
    flex-direction: column;
    box-shadow:
      rgba(0, 0, 0, 0.06) 0px 2px 8px 0px,
      rgba(0, 0, 0, 0.09) 0px 8px 32px 0px;
    &:last-child {
      @media (min-width: 992px) {
        flex-direction: column-reverse;
      }
    }
  }
  &-wrap {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @media (max-width: 991px) {
      padding: 24px 12px;
      gap: 0;
    }
  }
  &-desc {
    max-width: 65%;
    text-align: center;
    @media (max-width: 991px) {
      max-width: 100%;
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
  &-image {
    width: 100%;
    aspect-ratio: 780 / 425;
    overflow: hidden;
    flex: 1;
    min-height: 0;
    img {
      width: 120%;
      height: 120%;
      object-fit: cover;
    }
  }
}
