.retail {
  &-inner {
    display: grid;
    grid-template-columns: 5fr 7fr;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  .slider-pagination {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    @media (max-width: 991px) {
      left: 0px;
    }
    &-row {
      display: flex;
      gap: 12px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      cursor: pointer;
      &.active {
        span {
          &::before {
            width: 100%;
          }
        }
      }
      //   justify-content: flex-end;
      span {
        display: block;
        position: relative;
        width: 32px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 50%;
          height: 1px;
          background-color: var(--color-white);
          transition: width 0.3s ease;
        }
      }
      .label {
        font-size: 28px;
        line-height: 1.2;
        font-family: var(--font-heading);
        color: var(--color-white);
        text-transform: uppercase;
      }
    }
  }
  .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 350px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    @media (max-width: 991px) {
      bottom: 40px;
      right: 40px;
      left: 40px;
      top: auto;
      transform: unset;
      width: calc(100% - 80px);
    }
    &.is-ready {
      opacity: 1;
      visibility: visible;
    }

    h3 {
      font-family: var(--font-heading);
      font-size: 49px;
      line-height: 45px;
      color: var(--color-secondary);
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .description {
      font-size: 13px;
      line-height: 1.2;
      color: var(--color-secondary);
      text-align: center;
    }
  }
  &-col {
    min-width: 0;
    width: 100%;
    aspect-ratio: 1025 / 750;
    @media (max-width: 991px) {
      aspect-ratio: 375 / 540;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
  }
  .slider-retail {
    height: 100%;
    .swiper-slide {
      height: auto;
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding: 32px 32px 32px 60px;
    @media (max-width: 991px) {
      padding: 64px 16px 40px;
    }
    h3 {
      margin-bottom: 12px;
    }
    .description {
      margin-bottom: 32px;
    }
  }
  &-box {
    max-width: 70%;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  &-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 120px);
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../images/icons/bg-col-secondary.svg");
    background-position: center;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
