.row {
  &-list {
    padding-bottom: 60px;

    @media (max-width: 991px) {
      padding-bottom: 32px;
    }
  }

  &-image {
    .image {
      width: 100%;
      aspect-ratio: 865 / 756;
      max-height: 756px;
      img {
        width: 130%;
        height: 130%;
        object-position: center;
      }
    }
  }
  &-content {
    .content-box {
      padding: 0 40px;
      @media (max-width: 991px) {
        padding: 24px;
      }
      h3 {
        margin-bottom: 12px;
      }
    }
  }
  &-item {
    padding: 0 60px;

    &:not(:first-child) {
      padding-top: 40px;

      @media (max-width: 991px) {
        padding-top: 0;
      }
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse !important;
      margin-bottom: 32px;
      padding: 0 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-art {
    background-image: url("../../images/icons/bg-col-secondary.svg");
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
