.slider-row {
  padding: 0 60px;
  &-wrapper {
    display: flex;
  }
  &-art {
    background-image: url("../../images/icons/bg-col-secondary.svg");
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &-image {
    max-width: calc(7 / 12 * 100%);
    width: 100%;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    .image {
      width: 100%;
      aspect-ratio: 865 / 756;
      max-height: 756px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-content {
    max-width: calc(5 / 12 * 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 55px;
    .stones-button {
      left: 0;
      top: calc(50% + 120px);
      &.swiper-button-next {
        left: 56px;
      }
    }
    .content-change {
      font-size: 14px;
      line-height: 1.2;
      color: var(--color-primary);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    .title {
      margin-bottom: 40px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
      padding-bottom: 0;
    }
  }
}
