:root {
  // font
  --font-heading: "King Sans", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;
  // color
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary: #123754; //18 55 84
  --color-secondary: #f6e7ce; // 246 231 206
  --color-third: #934117; //147 65 23
  //spacing
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --spacing-padding: 72px 60px 38px;
}
@media (max-width: 991px) {
  :root {
    // spacing mobile
    --space-8: 8px;
    --space-16: 8px;
    --space-24: 16px;
    --space-32: 24px;
    --space-40: 32px;
    --space-48: 40px;
    --space-56: 48px;
    --space-64: 56px;
    --space-72: 64px;
    --space-80: 72px;
  }
}
// font variable
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}

.heading-1 {
  font-size: 60px;
  line-height: 54px;
}
.heading-2 {
  font-size: 49px;
  line-height: 45px;
}
.heading-3 {
  font-size: 24px;
  line-height: 1.1;
}
.b1-font {
  font-size: 15px;
  line-height: 1.1;
}
.b2-font {
  font-size: 13px;
  line-height: 1.2;
}
// color variable
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-third {
  color: var(--color-third);
}
.bgc-primary {
  background-color: var(--color-primary);
}
.bgc-secondary {
  background-color: var(--color-secondary);
}
.bgc-third {
  background-color: var(--color-third);
}
.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .limit-11-col {
    max-width: calc(calc(11 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-10-col {
    max-width: calc(calc(10 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-9-col {
    max-width: calc(calc(9 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-8-col {
    max-width: calc(calc(8 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-7-col {
    max-width: calc(calc(7 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-6-col {
    max-width: calc(calc(6 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
}
