.workplace {
  &.layout-row {
    .workplace-inner {
      padding-top: 0;
      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

      &.spacing-top-60 {
        padding-top: 60px;
      }
    }
    .workplace-row {
      grid-template-columns: 1fr;
      gap: 60px 0;
      @media (max-width: 991px) {
        gap: 16px;
      }
    }
    .workplace-image {
      aspect-ratio: 1320 / 460;
      @media (max-width: 991px) {
        aspect-ratio: 343 / 240;
      }
    }

    .workplace-col {
      .workplace-content {
        max-width: calc(5 / 12 * 100%);
        width: 100%;
        height: 100%;
        justify-content: center;
        @media (max-width: 991px) {
          max-width: 100%;
          height: auto;
        }
        .description {
          max-width: 80%;
          margin-bottom: 0;
          @media (max-width: 991px) {
            max-width: 100%;
          }
        }
      }
      &:first-child {
        .workplace-content {
          top: 0;
          left: auto;
          right: 0;
          background-color: rgba(147, 65, 23, 0.8);
        }
      }
      &:last-child {
        .workplace-content {
          bottom: 0;
          left: 0;
          background-color: rgba(18, 55, 84, 0.8);
        }
      }
    }
  }
  &-inner {
    padding: var(--spacing-padding);
  }
  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
  &-image {
    width: 100%;
    aspect-ratio: 900 / 816;
    @media (max-width: 991px) {
      aspect-ratio: 345 / 240;
    }
    img {
      width: 130%;
      height: 130%;
      object-fit: cover;
    }
  }
  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 991px) {
      position: static;
    }
    .title {
      margin-bottom: 12px;
      text-align: center;
    }
    .description {
      margin-bottom: var(--space-32);
      max-width: 60%;
      text-align: center;
      @media (max-width: 991px) {
        max-width: calc(100% - 48px);
      }
    }
  }
  &-col {
    overflow: hidden;
    &:first-child {
      .workplace-content {
        background-color: rgba(18, 55, 84, 0.8);
      }
    }
    &:last-child {
      .workplace-content {
        background-color: rgba(147, 65, 23, 0.8);
        bottom: auto;
        top: 0;
      }
    }
  }
}
