<div class="footer-container bgc-primary">
  <div class="footer-inner">
    <div class="footer-pattern"></div>
    <a class="footer-logo" href="./index.html" aria-label="IFC Hanoi home">
      <img src="./assets/images/icons/logo-full.svg" alt="IFC Hanoi" />
    </a>

    <div class="footer-main">
      <div class="footer-contact">
        <div class="footer-contact-title">
          International Finance Centre Hanoi
        </div>
        <div class="footer-contact-address">
          Lot B3CC1, Tay Ho Tay Urban Area, Xuan Dinh Ward, Hanoi, Vietnam
        </div>
      </div>

      <div class="footer-nav">
        <ul>
          <li><a href="javascript:void(0)" staggertext>About</a></li>
          <li><a href="javascript:void(0)" staggertext>Workspace</a></li>
          <li><a href="javascript:void(0)" staggertext>Retail</a></li>
        </ul>
        <ul>
          <li><a href="javascript:void(0)" staggertext>Hospitality</a></li>
          <li><a href="javascript:void(0)" staggertext>Media</a></li>
          <li><a href="./contact.html" staggertext>Contact us</a></li>
        </ul>
      </div>

      <div class="footer-meta">
        <p class="footer-contact-link">
          <a href="mailto:contact@ifchanoi.com" staggertext>
            contact@ifchanoi.com
          </a>
          <br />
          <a href="tel:0865363232" staggertext>0865 363 232</a>
        </p>
        <p class="footer-copyright">
          Copyright &copy; IFC Hanoi. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</div>
