<div class="header-container d-lg-grid align-items-center w-100">
  <div class="header-logo">
    <a href="" class="d-inline-block">
      <img src="./assets/images/icons/logo-full.svg" alt="" />
    </a>
  </div>
  <div class="header-menu mx-auto">
    <ul>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >About Us</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Workplace</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Retail</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Hopsitality</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Media</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
  <div class="header-group d-flex justify-content-end align-items-center">
    <div class="header-cta">
      <a href="">
        <div class="icon"></div>
        <div class="label font-body b2-font color-secondary text-uppercase">
          Brochure
        </div>
      </a>
    </div>
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <span>EN</span>
          </div>
          <div class="icon">
            <svg
              width="9"
              height="6"
              viewBox="0 0 9 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                stroke="currentColor"
              ></path>
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <span>VI</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
