<div class="header-container">
  <div class="header-logo">
    <a href=""></a>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a href="" staggertext>About Us</a>
      </li>
      <li>
        <a href="" staggertext>Workplace</a>
      </li>
      <li>
        <a href="" staggertext>Retail</a>
      </li>
      <li>
        <a href="" staggertext>Hopsitality</a>
      </li>
      <li>
        <a href="" staggertext>Media</a>
      </li>
      <li>
        <a href="" staggertext>Contact Us</a>
      </li>
    </ul>
  </div>
</div>
