<div
  class="header-container d-lg-grid align-items-center w-100 d-flex justify-content-between"
>
  <div class="header-logo">
    <a href="" class="d-inline-block position-relative">
      <img src="./assets/images/icons/logo-full.svg" alt="" class="logo-main" />
      <img
        src="./assets/images/icons/logo-full-primary.svg"
        alt=""
        class="logo-active"
      />
    </a>
  </div>
  <div class="header-menu mx-auto">
    <div class="header-spacer"></div>
    <ul>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >About Us</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Workplace</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Retail</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Hopsitality</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Media</a
        >
      </li>
      <li>
        <a
          href="./*.html"
          staggertext
          class="b1-font font-body color-secondary fw-light"
          >Contact Us</a
        >
      </li>
    </ul>
    <div class="header-group-mobile d-flex d-lg-none">
      <div class="header-cta">
        <a href="" class="global-button">
          <div class="icon">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <mask
                id="mask-icon-download"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="18"
                height="18"
              >
                <g clip-path="url(#clip-icon-download)">
                  <path
                    d="M6.47995 15.3004H11.52C13.302 15.3004 14.193 15.3004 14.7465 14.7469C15.3 14.1925 15.3 13.3024 15.3 11.5204V10.8904C15.3 9.10843 15.3 8.21743 14.7465 7.66393C14.2623 7.17973 13.5207 7.11853 12.15 7.11133M5.84995 7.11133C4.47925 7.11853 3.73765 7.17973 3.25345 7.66393C2.69995 8.21743 2.69995 9.10843 2.69995 10.8904V11.5204C2.69995 13.3024 2.69995 14.1934 3.25345 14.7469C3.44245 14.9359 3.67105 15.0601 3.95995 15.142"
                    stroke="black"
                    stroke-width="0.9"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                  />
                  <path
                    d="M8.99986 2.7002V10.8902M7.10986 8.6852L8.99986 10.8902L10.8899 8.6852"
                    stroke="black"
                    stroke-width="0.9"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </mask>
              <g mask="url(#mask-icon-download)">
                <rect width="18" height="18" fill="currentColor" />
              </g>
              <defs>
                <clipPath id="clip-icon-download">
                  <rect width="18" height="18" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="label font-body b2-font text-uppercase">Brochure</div>
        </a>
      </div>
      <div class="header-lang">
        <div class="dropdown-custom">
          <div class="dropdown-custom-btn">
            <div class="value-select">
              <span>EN</span>
            </div>
            <div class="icon">
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                  stroke="currentColor"
                ></path>
              </svg>
            </div>
          </div>
          <div class="dropdown-custom-menu">
            <div class="dropdown-custom-item">
              <span>VI</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="header-group d-none d-lg-flex justify-content-end align-items-center"
  >
    <div class="header-cta">
      <a href="" class="global-button">
        <div class="icon">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_642_3961"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="18"
              height="18"
            >
              <g clip-path="url(#clip0_642_3961)">
                <path
                  d="M6.47995 15.3004H11.52C13.302 15.3004 14.193 15.3004 14.7465 14.7469C15.3 14.1925 15.3 13.3024 15.3 11.5204V10.8904C15.3 9.10843 15.3 8.21743 14.7465 7.66393C14.2623 7.17973 13.5207 7.11853 12.15 7.11133M5.84995 7.11133C4.47925 7.11853 3.73765 7.17973 3.25345 7.66393C2.69995 8.21743 2.69995 9.10843 2.69995 10.8904V11.5204C2.69995 13.3024 2.69995 14.1934 3.25345 14.7469C3.44245 14.9359 3.67105 15.0601 3.95995 15.142"
                  stroke="black"
                  stroke-width="0.9"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M8.99986 2.7002V10.8902M7.10986 8.6852L8.99986 10.8902L10.8899 8.6852"
                  stroke="black"
                  stroke-width="0.9"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </mask>
            <g mask="url(#mask0_642_3961)">
              <rect width="18" height="18" fill="currentColor" />
            </g>
            <defs>
              <clipPath id="clip0_642_3961">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="label font-body b2-font text-uppercase">Brochure</div>
      </a>
    </div>
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <span>EN</span>
          </div>
          <div class="icon">
            <svg
              width="9"
              height="6"
              viewBox="0 0 9 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                stroke="currentColor"
              ></path>
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <span>VI</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-ham d-flex d-lg-none">
    <div class="ham-inner" id="ham-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
