@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Light.eot');
    src: url('BeVietnamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('BeVietnamPro-Light.woff2') format('woff2'),
        url('BeVietnamPro-Light.woff') format('woff'),
        url('BeVietnamPro-Light.ttf') format('truetype'),
        url('BeVietnamPro-Light.svg#BeVietnamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Regular.eot');
    src: url('BeVietnamPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('BeVietnamPro-Regular.woff2') format('woff2'),
        url('BeVietnamPro-Regular.woff') format('woff'),
        url('BeVietnamPro-Regular.ttf') format('truetype'),
        url('BeVietnamPro-Regular.svg#BeVietnamPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

